.partners {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.partners__img {
	margin-bottom: 50px;
}
.test {
	padding: 50px 0px 50px 0px;
	height: 100%;
	background-color: #030e1d36;

	margin: 0 auto;
}

@media (max-width: 768px) {
	.partners {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}

	.partners__item {
		flex: 0 0 calc(33.333% - 15px);
		display: flex;
		justify-content: center;
	}
	.test {
		height: 100%;
	}
}
